paper/WebContent/wsdl/CreateCompilingJob.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://create_compiling_job" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://create_compiling_job" xmlns:intf="http://create_compiling_job" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://create_compiling_job" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createCompilingJob">
    <complexType>
     <sequence>
      <element name="size" type="xsd:int"/>
      <element name="weight" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createCompilingJobResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="createCompilingJobReturn" type="impl:CreateCompilingJobIni"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CreateCompilingJobIni">
    <sequence>
     <element name="raw" nillable="true" type="xsd:string"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="Quan_available" type="xsd:int"/>
     <element name="Quan_sent" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createCompilingJobRequest">

      <wsdl:part element="impl:createCompilingJob" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCompilingJobResponse">

      <wsdl:part element="impl:createCompilingJobResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CreateCompilingJob">

      <wsdl:operation name="createCompilingJob">

         <wsdl:input message="impl:createCompilingJobRequest" name="createCompilingJobRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCompilingJobResponse" name="createCompilingJobResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CreateCompilingJobSoapBinding" type="impl:CreateCompilingJob">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createCompilingJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCompilingJobRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCompilingJobResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CreateCompilingJobService">

      <wsdl:port binding="impl:CreateCompilingJobSoapBinding" name="CreateCompilingJob">

         <wsdlsoap:address location="http://localhost:8080/paper/services/CreateCompilingJob"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
