paper/WebContent/wsdl/CreatePrintingJob.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://create_printing_job" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://create_printing_job" xmlns:intf="http://create_printing_job" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://create_printing_job" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createPrintingJob">
    <complexType>
     <sequence>
      <element name="category" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createPrintingJobResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="createPrintingJobReturn" type="impl:CreatePrintingJobIni"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CreatePrintingJobIni">
    <sequence>
     <element name="purchaseId" type="xsd:int"/>
     <element name="raw" nillable="true" type="xsd:string"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="vendor" nillable="true" type="xsd:string"/>
     <element name="Quan_available" type="xsd:int"/>
     <element name="Quan_sent" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createPrintingJobRequest">

      <wsdl:part element="impl:createPrintingJob" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createPrintingJobResponse">

      <wsdl:part element="impl:createPrintingJobResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CreatePrintingJob">

      <wsdl:operation name="createPrintingJob">

         <wsdl:input message="impl:createPrintingJobRequest" name="createPrintingJobRequest">

       </wsdl:input>

         <wsdl:output message="impl:createPrintingJobResponse" name="createPrintingJobResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CreatePrintingJobSoapBinding" type="impl:CreatePrintingJob">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createPrintingJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createPrintingJobRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createPrintingJobResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CreatePrintingJobService">

      <wsdl:port binding="impl:CreatePrintingJobSoapBinding" name="CreatePrintingJob">

         <wsdlsoap:address location="http://localhost:8080/paper/services/CreatePrintingJob"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
