paper/WebContent/wsdl/FinishedProduct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mainpkg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mainpkg" xmlns:intf="http://mainpkg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mainpkg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="finishedProduct">
    <complexType/>
   </element>
   <element name="finishedProductResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="finishedProductReturn" type="impl:FinsihedProductIni"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="FinsihedProductIni">
    <sequence>
     <element name="cid" type="xsd:int"/>
     <element name="bid" type="xsd:int"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="ppr_Quan" type="xsd:int"/>
     <element name="tc_Quan" type="xsd:int"/>
     <element name="sc_Quan" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="finishedProductRequest">

      <wsdl:part element="impl:finishedProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="finishedProductResponse">

      <wsdl:part element="impl:finishedProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FinishedProduct">

      <wsdl:operation name="finishedProduct">

         <wsdl:input message="impl:finishedProductRequest" name="finishedProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:finishedProductResponse" name="finishedProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FinishedProductSoapBinding" type="impl:FinishedProduct">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="finishedProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="finishedProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="finishedProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FinishedProductService">

      <wsdl:port binding="impl:FinishedProductSoapBinding" name="FinishedProduct">

         <wsdlsoap:address location="http://localhost:8080/paper/services/FinishedProduct"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
