paper/WebContent/wsdl/GetAllPendingRecRecords.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mainpkg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mainpkg" xmlns:intf="http://mainpkg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mainpkg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllPendingRecRecords">
    <complexType/>
   </element>
   <element name="getAllPendingRecRecordsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllPendingRecRecordsReturn" type="impl:Received"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Received">
    <sequence>
     <element name="purchaseId" type="xsd:int"/>
     <element name="raw" nillable="true" type="xsd:string"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="vendor" nillable="true" type="xsd:string"/>
     <element name="total_Quan" type="xsd:int"/>
     <element name="receive_Quan" type="xsd:int"/>
     <element name="damage_Quan" type="xsd:int"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllPendingRecRecordsRequest">

      <wsdl:part element="impl:getAllPendingRecRecords" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPendingRecRecordsResponse">

      <wsdl:part element="impl:getAllPendingRecRecordsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetAllPendingRecRecords">

      <wsdl:operation name="getAllPendingRecRecords">

         <wsdl:input message="impl:getAllPendingRecRecordsRequest" name="getAllPendingRecRecordsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllPendingRecRecordsResponse" name="getAllPendingRecRecordsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetAllPendingRecRecordsSoapBinding" type="impl:GetAllPendingRecRecords">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllPendingRecRecords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPendingRecRecordsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllPendingRecRecordsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetAllPendingRecRecordsService">

      <wsdl:port binding="impl:GetAllPendingRecRecordsSoapBinding" name="GetAllPendingRecRecords">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetAllPendingRecRecords"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
