paper/WebContent/wsdl/GetAllSizes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://create_purchase_order" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://create_purchase_order" xmlns:intf="http://create_purchase_order" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://create_purchase_order" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllSizeID">
    <complexType>
     <sequence>
      <element name="rawid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllSizeIDResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllSizeIDReturn" type="impl:GetAllRecords"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="GetAllRecords">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllSizeIDRequest">

      <wsdl:part element="impl:getAllSizeID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllSizeIDResponse">

      <wsdl:part element="impl:getAllSizeIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetAllSizes">

      <wsdl:operation name="getAllSizeID">

         <wsdl:input message="impl:getAllSizeIDRequest" name="getAllSizeIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllSizeIDResponse" name="getAllSizeIDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetAllSizesSoapBinding" type="impl:GetAllSizes">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllSizeID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllSizeIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllSizeIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetAllSizesService">

      <wsdl:port binding="impl:GetAllSizesSoapBinding" name="GetAllSizes">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetAllSizes"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
