paper/WebContent/wsdl/GetAllCompletedRecRecords.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manage_purchase_order" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manage_purchase_order" xmlns:intf="http://manage_purchase_order" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://manage_purchase_order" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllCompletedRecRecords">
    <complexType/>
   </element>
   <element name="getAllCompletedRecRecordsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllCompletedRecRecordsReturn" type="impl:GetReceivedRecordDetails"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="GetReceivedRecordDetails">
    <sequence>
     <element name="purchaseId" type="xsd:int"/>
     <element name="raw" nillable="true" type="xsd:string"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="vendor" nillable="true" type="xsd:string"/>
     <element name="total_Quan" type="xsd:int"/>
     <element name="receive_Quan" type="xsd:int"/>
     <element name="damage_Quan" type="xsd:int"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllCompletedRecRecordsRequest">

      <wsdl:part element="impl:getAllCompletedRecRecords" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCompletedRecRecordsResponse">

      <wsdl:part element="impl:getAllCompletedRecRecordsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetAllCompletedRecRecords">

      <wsdl:operation name="getAllCompletedRecRecords">

         <wsdl:input message="impl:getAllCompletedRecRecordsRequest" name="getAllCompletedRecRecordsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCompletedRecRecordsResponse" name="getAllCompletedRecRecordsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetAllCompletedRecRecordsSoapBinding" type="impl:GetAllCompletedRecRecords">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllCompletedRecRecords">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCompletedRecRecordsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCompletedRecRecordsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetAllCompletedRecRecordsService">

      <wsdl:port binding="impl:GetAllCompletedRecRecordsSoapBinding" name="GetAllCompletedRecRecords">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetAllCompletedRecRecords"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
