paper/WebContent/wsdl/GetAllPrintVendors.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://create_printing_job" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://create_printing_job" xmlns:intf="http://create_printing_job" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://create_printing_job" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllPrintVendor">
    <complexType/>
   </element>
   <element name="getAllPrintVendorResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllPrintVendorReturn" type="impl:GetAllPrintVendorsIni"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="GetAllPrintVendorsIni">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllPrintVendorResponse">

      <wsdl:part element="impl:getAllPrintVendorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPrintVendorRequest">

      <wsdl:part element="impl:getAllPrintVendor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetAllPrintVendors">

      <wsdl:operation name="getAllPrintVendor">

         <wsdl:input message="impl:getAllPrintVendorRequest" name="getAllPrintVendorRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllPrintVendorResponse" name="getAllPrintVendorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetAllPrintVendorsSoapBinding" type="impl:GetAllPrintVendors">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllPrintVendor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPrintVendorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllPrintVendorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetAllPrintVendorsService">

      <wsdl:port binding="impl:GetAllPrintVendorsSoapBinding" name="GetAllPrintVendors">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetAllPrintVendors"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
