paper/WebContent/wsdl/GetAllWeight.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mainpkg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mainpkg" xmlns:intf="http://mainpkg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mainpkg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllweight">
    <complexType>
     <sequence>
      <element name="SizeID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllweightResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllweightReturn" type="impl:Record"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Record">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllweightRequest">

      <wsdl:part element="impl:getAllweight" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllweightResponse">

      <wsdl:part element="impl:getAllweightResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetAllWeight">

      <wsdl:operation name="getAllweight">

         <wsdl:input message="impl:getAllweightRequest" name="getAllweightRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllweightResponse" name="getAllweightResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetAllWeightSoapBinding" type="impl:GetAllWeight">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllweight">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllweightRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllweightResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetAllWeightService">

      <wsdl:port binding="impl:GetAllWeightSoapBinding" name="GetAllWeight">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetAllWeight"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
