paper/WebContent/wsdl/GetAllCompileVendors.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://create_compiling_job" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://create_compiling_job" xmlns:intf="http://create_compiling_job" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://create_compiling_job" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllCompileVendor">
    <complexType/>
   </element>
   <element name="getAllCompileVendorResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllCompileVendorReturn" type="impl:GetAllCompileVendorsIni"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="GetAllCompileVendorsIni">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllCompileVendorRequest">

      <wsdl:part element="impl:getAllCompileVendor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCompileVendorResponse">

      <wsdl:part element="impl:getAllCompileVendorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetAllCompileVendors">

      <wsdl:operation name="getAllCompileVendor">

         <wsdl:input message="impl:getAllCompileVendorRequest" name="getAllCompileVendorRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCompileVendorResponse" name="getAllCompileVendorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetAllCompileVendorsSoapBinding" type="impl:GetAllCompileVendors">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllCompileVendor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCompileVendorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCompileVendorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetAllCompileVendorsService">

      <wsdl:port binding="impl:GetAllCompileVendorsSoapBinding" name="GetAllCompileVendors">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetAllCompileVendors"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
