paper/WebContent/wsdl/GetBindingJobSummary.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://view_bindingjob_receive" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://view_bindingjob_receive" xmlns:intf="http://view_bindingjob_receive" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://view_bindingjob_receive" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBindingJobSummary">
    <complexType>
     <sequence>
      <element name="pjid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBindingJobSummaryResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getBindingJobSummaryReturn" type="impl:GetBindingJobSummaryIni"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="GetBindingJobSummaryIni">
    <sequence>
     <element name="bindId" type="xsd:int"/>
     <element name="compileId" type="xsd:int"/>
     <element name="raw" nillable="true" type="xsd:string"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="povendor" nillable="true" type="xsd:string"/>
     <element name="pjvendor" nillable="true" type="xsd:string"/>
     <element name="cjvendor" nillable="true" type="xsd:string"/>
     <element name="bjvendor" nillable="true" type="xsd:string"/>
     <element name="total_Quan" type="xsd:int"/>
     <element name="receive_Quan" type="xsd:int"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBindingJobSummaryRequest">

      <wsdl:part element="impl:getBindingJobSummary" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBindingJobSummaryResponse">

      <wsdl:part element="impl:getBindingJobSummaryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetBindingJobSummary">

      <wsdl:operation name="getBindingJobSummary">

         <wsdl:input message="impl:getBindingJobSummaryRequest" name="getBindingJobSummaryRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBindingJobSummaryResponse" name="getBindingJobSummaryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetBindingJobSummarySoapBinding" type="impl:GetBindingJobSummary">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBindingJobSummary">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBindingJobSummaryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBindingJobSummaryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetBindingJobSummaryService">

      <wsdl:port binding="impl:GetBindingJobSummarySoapBinding" name="GetBindingJobSummary">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetBindingJobSummary"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
