paper/WebContent/wsdl/GetPOreport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mainpkg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mainpkg" xmlns:intf="http://mainpkg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mainpkg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllPurchaseOrder">
    <complexType/>
   </element>
   <element name="getAllPurchaseOrderResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllPurchaseOrderReturn" type="impl:PurchaseOrderRRepo"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="PurchaseOrderRRepo">
    <sequence>
     <element name="purchaseId" type="xsd:int"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="vendor" nillable="true" type="xsd:string"/>
     <element name="total_Quan" type="xsd:int"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllPurchaseOrderRequest">

      <wsdl:part element="impl:getAllPurchaseOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPurchaseOrderResponse">

      <wsdl:part element="impl:getAllPurchaseOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetPOreport">

      <wsdl:operation name="getAllPurchaseOrder">

         <wsdl:input message="impl:getAllPurchaseOrderRequest" name="getAllPurchaseOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllPurchaseOrderResponse" name="getAllPurchaseOrderResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetPOreportSoapBinding" type="impl:GetPOreport">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllPurchaseOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPurchaseOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllPurchaseOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetPOreportService">

      <wsdl:port binding="impl:GetPOreportSoapBinding" name="GetPOreport">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetPOreport"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
