paper/WebContent/wsdl/GetQuantity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manage_purchase_order" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manage_purchase_order" xmlns:intf="http://manage_purchase_order" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://manage_purchase_order" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getQuantity">
    <complexType>
     <sequence>
      <element name="ID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getQuantityResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getQuantityReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getQuantityResponse">

      <wsdl:part element="impl:getQuantityResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getQuantityRequest">

      <wsdl:part element="impl:getQuantity" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetQuantity">

      <wsdl:operation name="getQuantity">

         <wsdl:input message="impl:getQuantityRequest" name="getQuantityRequest">

       </wsdl:input>

         <wsdl:output message="impl:getQuantityResponse" name="getQuantityResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetQuantitySoapBinding" type="impl:GetQuantity">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getQuantity">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getQuantityRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getQuantityResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetQuantityService">

      <wsdl:port binding="impl:GetQuantitySoapBinding" name="GetQuantity">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetQuantity"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
