paper/WebContent/wsdl/GetSummaryOfRawMaterial.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mainpkg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mainpkg" xmlns:intf="http://mainpkg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mainpkg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getSummaryOfRawMaterial">
    <complexType>
     <sequence>
      <element name="raw" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSummaryOfRawMaterialResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSummaryOfRawMaterialReturn" type="impl:Summary"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Summary">
    <sequence>
     <element name="raw" nillable="true" type="xsd:string"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="receive_Quan" type="xsd:int"/>
     <element name="damage_Quan" type="xsd:int"/>
     <element name="print_Quan" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSummaryOfRawMaterialResponse">

      <wsdl:part element="impl:getSummaryOfRawMaterialResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSummaryOfRawMaterialRequest">

      <wsdl:part element="impl:getSummaryOfRawMaterial" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetSummaryOfRawMaterial">

      <wsdl:operation name="getSummaryOfRawMaterial">

         <wsdl:input message="impl:getSummaryOfRawMaterialRequest" name="getSummaryOfRawMaterialRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSummaryOfRawMaterialResponse" name="getSummaryOfRawMaterialResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetSummaryOfRawMaterialSoapBinding" type="impl:GetSummaryOfRawMaterial">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSummaryOfRawMaterial">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSummaryOfRawMaterialRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSummaryOfRawMaterialResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetSummaryOfRawMaterialService">

      <wsdl:port binding="impl:GetSummaryOfRawMaterialSoapBinding" name="GetSummaryOfRawMaterial">

         <wsdlsoap:address location="http://localhost:8080/paper/services/GetSummaryOfRawMaterial"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
