paper/WebContent/wsdl/InsertReceiveFromCompiling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://manage_compiling_job" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://manage_compiling_job" xmlns:intf="http://manage_compiling_job" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://manage_compiling_job" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertReceiveFromCompiling">
    <complexType>
     <sequence>
      <element name="compileID" type="xsd:int"/>
      <element name="paperQuantity" type="xsd:int"/>
      <element name="titlecardQuantity" type="xsd:int"/>
      <element name="separatorcardQuantity" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertReceiveFromCompilingResponse">
    <complexType>
     <sequence>
      <element name="insertReceiveFromCompilingReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertReceiveFromCompilingRequest">

      <wsdl:part element="impl:insertReceiveFromCompiling" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertReceiveFromCompilingResponse">

      <wsdl:part element="impl:insertReceiveFromCompilingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="InsertReceiveFromCompiling">

      <wsdl:operation name="insertReceiveFromCompiling">

         <wsdl:input message="impl:insertReceiveFromCompilingRequest" name="insertReceiveFromCompilingRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertReceiveFromCompilingResponse" name="insertReceiveFromCompilingResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InsertReceiveFromCompilingSoapBinding" type="impl:InsertReceiveFromCompiling">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertReceiveFromCompiling">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertReceiveFromCompilingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertReceiveFromCompilingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InsertReceiveFromCompilingService">

      <wsdl:port binding="impl:InsertReceiveFromCompilingSoapBinding" name="InsertReceiveFromCompiling">

         <wsdlsoap:address location="http://localhost:8080/paper/services/InsertReceiveFromCompiling"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
