paper/WebContent/wsdl/PlaceOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://create_purchase_order" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://create_purchase_order" xmlns:intf="http://create_purchase_order" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://create_purchase_order" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createPurchaseOrder">
    <complexType>
     <sequence>
      <element name="rawID" type="xsd:int"/>
      <element name="SizeID" type="xsd:int"/>
      <element name="WeightID" type="xsd:int"/>
      <element name="VendorID" type="xsd:int"/>
      <element name="Quantity" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createPurchaseOrderResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createPurchaseOrderRequest">

      <wsdl:part element="impl:createPurchaseOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createPurchaseOrderResponse">

      <wsdl:part element="impl:createPurchaseOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PlaceOrder">

      <wsdl:operation name="createPurchaseOrder">

         <wsdl:input message="impl:createPurchaseOrderRequest" name="createPurchaseOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:createPurchaseOrderResponse" name="createPurchaseOrderResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PlaceOrderSoapBinding" type="impl:PlaceOrder">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createPurchaseOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createPurchaseOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createPurchaseOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PlaceOrderService">

      <wsdl:port binding="impl:PlaceOrderSoapBinding" name="PlaceOrder">

         <wsdlsoap:address location="http://localhost:8080/paper/services/PlaceOrder"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
