paper/WebContent/wsdl/POReportView.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mainpkg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mainpkg" xmlns:intf="http://mainpkg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mainpkg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="report">
    <complexType/>
   </element>
   <element name="reportResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="reportReturn" type="impl:ReportPO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ReportPO">
    <sequence>
     <element name="purchaseId" type="xsd:int"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="vendor" nillable="true" type="xsd:string"/>
     <element name="quantity" type="xsd:int"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="reportResponse">

      <wsdl:part element="impl:reportResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reportRequest">

      <wsdl:part element="impl:report" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="POReportView">

      <wsdl:operation name="report">

         <wsdl:input message="impl:reportRequest" name="reportRequest">

       </wsdl:input>

         <wsdl:output message="impl:reportResponse" name="reportResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="POReportViewSoapBinding" type="impl:POReportView">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="report">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reportRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reportResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="POReportViewService">

      <wsdl:port binding="impl:POReportViewSoapBinding" name="POReportView">

         <wsdlsoap:address location="http://localhost:8080/paper/services/POReportView"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
