paper/WebContent/wsdl/ReceiveBindingJobDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://view_bindingjob_receive" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://view_bindingjob_receive" xmlns:intf="http://view_bindingjob_receive" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://view_bindingjob_receive" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="receiveBindingJobDetails">
    <complexType>
     <sequence>
      <element name="pjid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="receiveBindingJobDetailsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="receiveBindingJobDetailsReturn" type="impl:ReceiveBindingJobDetailsIni"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ReceiveBindingJobDetailsIni">
    <sequence>
     <element name="recOrdId" type="xsd:int"/>
     <element name="receiveQuantity" type="xsd:int"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="receiveBindingJobDetailsResponse">

      <wsdl:part element="impl:receiveBindingJobDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="receiveBindingJobDetailsRequest">

      <wsdl:part element="impl:receiveBindingJobDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ReceiveBindingJobDetails">

      <wsdl:operation name="receiveBindingJobDetails">

         <wsdl:input message="impl:receiveBindingJobDetailsRequest" name="receiveBindingJobDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:receiveBindingJobDetailsResponse" name="receiveBindingJobDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ReceiveBindingJobDetailsSoapBinding" type="impl:ReceiveBindingJobDetails">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="receiveBindingJobDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="receiveBindingJobDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="receiveBindingJobDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ReceiveBindingJobDetailsService">

      <wsdl:port binding="impl:ReceiveBindingJobDetailsSoapBinding" name="ReceiveBindingJobDetails">

         <wsdlsoap:address location="http://localhost:8080/paper/services/ReceiveBindingJobDetails"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
