paper/WebContent/wsdl/ROReportByPidView.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mainpkg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mainpkg" xmlns:intf="http://mainpkg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mainpkg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="reportbypid">
    <complexType>
     <sequence>
      <element name="pid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="reportbypidResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="reportbypidReturn" type="impl:ROReportByPid"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ROReportByPid">
    <sequence>
     <element name="recOrdId" type="xsd:int"/>
     <element name="size" nillable="true" type="xsd:string"/>
     <element name="weight" nillable="true" type="xsd:string"/>
     <element name="vendor" nillable="true" type="xsd:string"/>
     <element name="quantity" type="xsd:int"/>
     <element name="receiveIntact" type="xsd:int"/>
     <element name="receiveDamage" type="xsd:int"/>
     <element name="time" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="reportbypidResponse">

      <wsdl:part element="impl:reportbypidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="reportbypidRequest">

      <wsdl:part element="impl:reportbypid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ROReportByPidView">

      <wsdl:operation name="reportbypid">

         <wsdl:input message="impl:reportbypidRequest" name="reportbypidRequest">

       </wsdl:input>

         <wsdl:output message="impl:reportbypidResponse" name="reportbypidResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ROReportByPidViewSoapBinding" type="impl:ROReportByPidView">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="reportbypid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="reportbypidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="reportbypidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ROReportByPidViewService">

      <wsdl:port binding="impl:ROReportByPidViewSoapBinding" name="ROReportByPidView">

         <wsdlsoap:address location="http://localhost:8080/paper/services/ROReportByPidView"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
