paper/WebContent/wsdl/SendForBindingJob.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://create_bindind_job" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://create_bindind_job" xmlns:intf="http://create_bindind_job" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://create_bindind_job" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendForBindingJob">
    <complexType>
     <sequence>
      <element name="compileId" type="xsd:int"/>
      <element name="vendor" type="xsd:string"/>
      <element name="qty" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendForBindingJobResponse">
    <complexType>
     <sequence>
      <element name="sendForBindingJobReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendForBindingJobResponse">

      <wsdl:part element="impl:sendForBindingJobResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendForBindingJobRequest">

      <wsdl:part element="impl:sendForBindingJob" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SendForBindingJob">

      <wsdl:operation name="sendForBindingJob">

         <wsdl:input message="impl:sendForBindingJobRequest" name="sendForBindingJobRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendForBindingJobResponse" name="sendForBindingJobResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SendForBindingJobSoapBinding" type="impl:SendForBindingJob">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendForBindingJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendForBindingJobRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendForBindingJobResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SendForBindingJobService">

      <wsdl:port binding="impl:SendForBindingJobSoapBinding" name="SendForBindingJob">

         <wsdlsoap:address location="http://localhost:8080/paper/services/SendForBindingJob"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
