paper/WebContent/wsdl/SendForPrintingJob.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mainpkg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mainpkg" xmlns:intf="http://mainpkg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mainpkg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendPrintingJob">
    <complexType>
     <sequence>
      <element name="purchaseID" type="xsd:int"/>
      <element name="vendor" type="xsd:string"/>
      <element name="qty" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendPrintingJobResponse">
    <complexType>
     <sequence>
      <element name="sendPrintingJobReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendPrintingJobRequest">

      <wsdl:part element="impl:sendPrintingJob" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendPrintingJobResponse">

      <wsdl:part element="impl:sendPrintingJobResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SendForPrintingJob">

      <wsdl:operation name="sendPrintingJob">

         <wsdl:input message="impl:sendPrintingJobRequest" name="sendPrintingJobRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendPrintingJobResponse" name="sendPrintingJobResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SendForPrintingJobSoapBinding" type="impl:SendForPrintingJob">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendPrintingJob">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendPrintingJobRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendPrintingJobResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SendForPrintingJobService">

      <wsdl:port binding="impl:SendForPrintingJobSoapBinding" name="SendForPrintingJob">

         <wsdlsoap:address location="http://localhost:8080/paper/services/SendForPrintingJob"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
